# Virtual Environment
venv/
3_10_airflow_env/

# Airflow Logs
logs/

# Airflow Database
airflow.db

# Airflow Configuration File
airflow.cfg

# Compiled Python Files
__pycache__/

# System Files
.DS_Store
Thumbs.db

#Environment variables
.env

# dbt target directory
target/
# dbt logs
logs/
#dbt packages
dbt_packages/

.user.yml